#change_tax.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "change_tax_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      -#
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#change_tax_label.modal-title Tax
      .modal-body
        = form_for(@transaction) do |form|
          .form-group.row
            .col-sm-12
              .input-group
                = form.text_field :tax, class: 'form-control form-control-lg', placeholder: 'Tax'
                .input-group-addon 
                  %i.fa.fa-percent
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{:type => "submit"} Save